<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="imgcache.js"
	versionCode="1"
	version="1.0.0">

	<name>imgcache.js</name>

	<description>Test application</description>

	<author href="http://www.wobis.fr"
		email="christophe@wobis.fr">
		Christophe Benoit
	</author>

	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/device"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
	
	<feature name="Device">
		<param name="ios-package" value="CDVDevice" />
		<param name="android-package" value="org.apache.cordova.device.Device" />
	</feature>
	<feature name="File">
		<param name="ios-package" value="CDVFile" />
		<param name="android-package" value="org.apache.cordova.file.FileUtils" />
	</feature>
	<feature name="FileTransfer">
		<param name="ios-package" value="CDVFileTransfer" />
		<param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
	</feature>
	
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="phonegap-version" value="3.3.0" />

	<access origin="*" />
</widget>
